VITE_SUPABASE_URL=https://jlnvdoznmiyzzkfxwtjk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsbnZkb3pubWl5enprZnh3dGprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMjM1MzUsImV4cCI6MjA5OTc5OTUzNX0.2sHdQwB5Gc0X565ay-L1n4OdAkFRk_8T-Mt16zNEm1M